@import "../../assets/scss/variables";
.dashboard {
    display:flex;
    flex-direction: row;
    color: #333;
    .aside {
        width: 230px;
        height: calc(150vh - 7.5vh);
        flex-shrink: 0;
        background-color: #f9f9f9;
        padding: 20px 0px;
    }
    .search-input {
        height: 35px;
        width: 215px;
        margin: 10px 0px 10px 5px;
        background-color: $color2;
        border-color: transparent;
        border-radius: 0.5em;
        box-shadow: 0 4px 7px -6px $color4;
        justify-content: center;
        align-items: center;
        
        input {
            height: 35px;
            background: transparent;
            border: none;
            bottom: 0;
            box-sizing: border-box;
            left: 0;
            margin: 0;
        }
        button {
            height: 33px;
            width: 38px;
            background-color: $color-theme;
            color: $color2;
            border: transparent;
            border-radius: 0.5em;
            margin: 1px;
            cursor: pointer;
        }
        i {
            margin: 0;
            padding: 0;
            font-size: 18px;
            text-align: center;
        }
        
    }
    .search-option {
        margin: 20px 10px 20px 3px;
        border-bottom: 2px solid $color1;
    }
    h3 {
        // padding-left: 3px;
        // padding-bottom: 5px;
        padding: 5px 0px;
    }
    .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: -10px; 
        i {
            cursor: pointer;
        }
        i:active, i:focus, i:hover {
            color:$color1;
        }
    }
    
   

    .radio-button-group {
        margin: 0 15px 5px 15px;
        input {
            display: none;
        }
        label {
            position: relative;
            cursor: pointer;
        }
        label:before {
            content:'';
            border: 2px solid $color1;
            padding: 7px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
          }
          input:checked + label:after {
            content: '';
            border: solid $color1;
            border-width: 0 1.5px 1.5px 0;
            position: absolute;
            transform: rotate(45deg);
            top: 5px;
            left: 6px;
            width: 5px;
            height: 8px;
          }
    }

    .card-container {
        margin: 50px 80px 50px 80px;
        width: calc(100vw - 230px);
        // height: calc(145vh - 7.5vh);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;
        align-items: center;
        justify-items: center;
    }

    .card-pet{
        border-radius: 10px;
        width: 80%;
        height: auto;
        box-shadow: 0px 0px 12px rgba(0,0,0,.1);
        padding: 20px;
        text-align: center;
        h2 {
            margin-bottom: 20px;
        }
        i {
            color:lightgray;
            margin-bottom: 30px;
        }
    }
    .pet-details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4,1fr);
        grid-gap: 5px 20px;
        color: #515151;
    }
    .item {
        justify-self: flex-start;
        font-weight: 600;
        // text-decoration: underline;
    }
    .item-detail {
        justify-self: flex-end;
    }
    .card-pet-more {
        background-color: $color-theme;
        color: $color2;
        font-size: 16px;
        font-weight: 600;
        padding: 5px 10px;
        border:none;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px 0px 10px 0px;
    }
}