@import '../../assets/scss/variables';
@mixin generic-navbar($theme) {
    padding: 5px 20px 5px 0px;
    height: 50px;
    max-height: 50px;
    background-color: $theme;
    font-size: 17px;
    opacity: 0.9;

    nav {
        padding: 0;
        margin: 0;
    }

    ul {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
    }

    div {
        display:flex;
        flex-direction: row;
    }

    .main-item {
        padding: 0px;
        margin-top: -10px;
    }
   

    .logo {
        font-family:'Handlee', cursive;
        font-size: 28px;
        font-weight: 800;
    }
    a {
        text-decoration: none;
        color:white;
        padding: 10px 10px;
        display: inline;
    }
   
    .pages-items a:hover {
        box-shadow: inset 0 3px 0 0 #ededed;
    }

    .pages-items .is-selected {
        box-shadow: inset 0 3px 0 0 white!important;
    }
}

.site-navbar {
    @include generic-navbar($color-theme);
}

.home-navbar {
    @include generic-navbar(transparent);
}
